<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label for="algoo">Choose an architecture :</label>
    <form method="POST">
        <select name="algo" id="algoo">
            <option value="ann">ANN</option>
            <option value="cnn">CNN</option>
            <option value="rnn">RNN</option>
        </select>
        <button type="submit" id="but" >Submit</button>
    </form>

    <div>
        <h3>Your choice is : {{ myalgo }}</h3>
    </div>
</body>
</html>